@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@font-face{
    font-family: 'Aileron Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Aileron Regular'), url('Aileron-Regular.woff') format('woff');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Aileron Regular', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

header{
    height: 100vh;
    background-image: linear-gradient(120deg, rgba(252, 192, 128, 0.4) 0%, rgba(51, 51, 0, 0.8) 100%), url(../image/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-top: 0.1px; 
}

/*Inicio*/

.navbar{
    position: fixed;
    display: flex;
    align-items: center;
    background: #f6f6f6;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 6%;
    padding-right: 6%;
    width: 100%;
    height: 68px;
    box-sizing: border-box;
    box-shadow: 0 0 3px #000;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.marca{
    position: absolute;
    width: 115px;
    height: 46px;
    top: 10px;
    left: 100px;
    cursor: pointer;
}

.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

/*
.menu-icon{
    margin-left: 40px;
    background: #fff;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.button-inicio{
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 25vw;
    height: 100%;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.spread{
    transform: translate(0);
}

.menu-navegacion a{
    color: #fff;
    text-decoration: none;
    font-size: 25px; 
}
*/
.hero-main{
    height: calc(100vh - 70px);
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    align-items: center;
    padding: 0;
}

.titulo{
    font-size: 75px;
    margin-top: 45px;
    margin-bottom: 15px;
    text-align: left;
    /*color: rgb(131,215,203);*/
}

.copy{
    font-family: 'Aileron Light', sans-serif;
    font-size: 35px;
    text-align: left;
}

.mockup{
    padding-top: 80px;
    object-fit: cover;
    height: calc(100vh - 120px)
}

/*Nosotros*/

.subtitulo{
    text-align: center;
    font-weight: 300;
    color: rgb(241, 154, 62);
    margin-bottom: 40px;
    font-size: 40px;
}

.contenedor-somos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-somos img{
    width: 45%;
}

.checklist-somos{
    width: 45%;
}

.somos{
    margin-bottom: 20px;
}

.n-somos{
    margin-bottom: 7px;
    color: #d1ab41;
    font-size: 22px;
}

.number{
    display: inline-block;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 10px;
}

/*Footer*/

footer{
    background: linear-gradient(to top, #deb83f 0%, #e68b5a 100%);
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 50%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon:hover{
    background: #fff;
    color: #d1ab41;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 57px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}